<script src="https://giscus.app/client.js"
        data-repo="SCPF-Archive/SCPF-Archive.github.io"
        data-repo-id="R_kgDOIq3cSw"
        data-category="General"
        data-category-id="DIC_kwDOIq3cS84CTPmF"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="dark"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
